/* External CSS  */
@import url(/css/vendor/slider.scss);
@import url(/css/vendor/bootstrap-icons.css);
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css");
@import url("https://cdn.jsdelivr.net/npm/mdb-ui-kit/css/mdb.min.css");
@import "slider","nav","cards","button","faqs";

// Variables 
$maincolor : #FCB017;
$Secondcolor : #05273A;
$grey : #F5F5F5;
$teal : #1F4F60;
$coral : #F47E4D;
$beige : #FFE4B2;
$limegreen : #8AC926;

.bg-dark{
  background: $teal !important;
}
*{
    margin: 0px auto;
    padding: 0px auto;
    font-family: Black Sans;
    scroll-behavior: smooth;
}

/* fonts  */
@import url('https://fonts.cdnfonts.com/css/black-sans');

#space{
    min-height: 50px;
}
.contacts{
    min-height: 250px;
    margin-top: 10%;
    background:$Secondcolor;
}

// Floating Button 
.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color: $maincolor;
	color:#FFF;
	border-radius:50px;
	text-align:center;
	box-shadow: 2px 2px 3px #999;
  animation: 3s linear .1s colorIt;
     .my-float{
    margin-top:22px;
    transition-duration: 300ms;
    &:hover{
      transform: translateY(-15px);
    }
  }
}

// Dropdown 
// .dropbtn {
  // background-color: #04AA6D;
  // color: white;
  // padding: 16px;
  // font-size: 16px;
  // border: none;
// }

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 5px;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}


// about
#about{
    min-height: 300px;
    //background: #000;
}

// Partners 

.partners {
    margin-top: 40px;
    padding: 10px;
    
  }
  
  @-webkit-keyframes slideleft {
    0% {
      background-position: 385000px;
    }
    100% {
      background-position: 0;
    }
  }
  
  @keyframes slideleft {
    0% {
      background-position: 385000px;
    }
    100% {
      background-position: 0;
    }
  }
  
  .partners-img-container {
    height: 100px;
    width: 100%;
    overflow: auto;
  }
  
  .partners-img-container::-webkit-scrollbar { width: 0 !important } /* hide scrollbar in Chrome */
  .partners-img-container { scrollbar-width: none; } /* hide scrollbar in mozilla */
  .partners-img-container { -ms-overflow-style: none; } /* hide scrollbar in IE */
  
  .partners-img-container .partners-img {
    height: 100%;
    width: 200%;
    background: transparent url(/images/partners.png) repeat-x 50% 0;
    -webkit-animation: slideleft 5000s linear infinite;
    animation: slideleft 5000s linear infinite;
    cursor: grab;
  }
.partners-img {
  filter: saturate(0);
  opacity: .75;
  &:hover{
    filter: saturate(1);
    opacity: 1;
  }
}
#footer{
    margin-top: 50px;
}
// Testimonials

