/* External CSS  */
@import url(/css/vendor/slider.css);
@import url(/css/vendor/bootstrap-icons.css);
@import "cards";

// Variables 
$maincolor : #FCB017;
$Secondcolor : #05273A;

*{
    margin: 1px auto;
    padding: 2px auto;
    font-family: Black Sans;
}

/* fonts  */
@import url('https://fonts.cdnfonts.com/css/black-sans');

#space{
    min-height: 50px;
}
.contacts{
    min-height: 250px;
    margin-top: 10%;
    background:$Secondcolor;
}
.bton{
    transition: .4s all !important;
    height: 4rem;
    width: 4rem;
    background: $maincolor;
    border-radius: 50%;
    border: none;
    &:hover{
        background: #fff;
        color: $maincolor;
        i{
            &:hover{
                color: $Secondcolor;
            }
        }
    }
}
.btn{
    background: $Secondcolor;
    &:hover{
        background: $maincolor;
        border: none;
    }
}
// about
#about{
    min-height: 300px;
    //background: #000;
}

#footer{
    margin-top: 50px;
}
// Testimonials

