/* External CSS  */
@import url(/css/vendor/slider.css);
@import url(/css/vendor/bootstrap-icons.css);

// Variables 
$maincolor : #FCB017;
$Secondcolor : #05273A;

*{
    margin: 1px auto;
    padding: 2px auto;
    font-family: Black Sans;
}

/* fonts  */
@import url('https://fonts.cdnfonts.com/css/black-sans');

#space{
    min-height: 50px;
}
.contacts{
    min-height: 250px;
    background:$Secondcolor;
}
.bton{
    transition: .4s all !important;
    height: 4rem;
    width: 4rem;
    background: $maincolor;
    border-radius: 50%;
    border: none;
    &::before{

    }
    &:hover{
        background: #fff;
        color: $maincolor;
        i{
            &:hover{
                color: $Secondcolor;
            }
        }
    }
}
.btn{
    background: $Secondcolor;
    &:hover{
        background: $maincolor;
        border: none;
    }
}

// Contact 
.contact-form{
    background: #fff;
    margin-top: 10%;
    margin-bottom: 5%;
    width: 70%;
}
.contact-form .form-control{
    border-radius:1rem;
}
.contact-image{
    text-align: center;
    img{
    border-radius: 6rem;
    width: 11%;
    margin-top: -3%;
    transform: rotate(29deg);
    }
}

.contact-form form{
    padding: 14%;
}
.contact-form form .row{
    margin-bottom: -7%;
}
.contact-form h3{
    margin-bottom: 8%;
    margin-top: -10%;
    text-align: center;
    color: #0062cc;
}
.contact-form .btnContact {
    width: 50%;
    border: none;
    border-radius: 1rem;
    padding: 1.5%;
    background: #dc3545;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
}
.btnContactSubmit
{
    width: 50%;
    border-radius: 1rem;
    padding: 1.5%;
    color: #fff;
    background-color: #0062cc;
    border: none;
    cursor: pointer;
}